<html>
  <head>
    <title>node-template-pokemon-ui</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>

    <nav class="navbar is-dark">
      <div class="navbar-brand"><a class="navbar-item">node-template-pokemon</a></div>
    </nav>
    <section class="section" id="example">
      <div class="container">
        <div id="newpokemon">
          <div class="field">
            <label class="label">Id</label>
            <pokemonlist name="id" @select="selectPokemon" @clear="clear"></pokemonlist>
          </div>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input name="name" class="input" type="text" placeholder="Name">
            </div>
          </div>
          <div class="field">
            <label class="label">Type</label>
            <typelist name="type1"></typelist>
            <typelist name="type2"></typelist>
          </div>
          <div class="field">
            <label class="label">Level</label>
            <input name="level" class="input" type="number" placeholder="1" value="1">
          </div>
          <div class="field">
            <label class="label">Gender</label>

            <div class="control">
              <div class="select">
                <select name="gender">
                  <option value="0">Male</option>
                  <option value="1">Female</option>
                  <option value="2">Unknown</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Previous form</label>
            <pokemonlist name="previous_form_id"></pokemonlist>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button" v-on:click="add">Submit</button>
            </div>
            <div class="control">
              <button class="button" v-on:click="remove">Remove</button>
            </div>
          </div>

        </div>
      </div>
    </section>

    <script>
      Vue.component("pokemonlist", {
        props: ['name'],
        data: function() {
          return { 
            pokemons: null
          }
        },
        template: `
<div class="control">
<div class="select">
<select v-bind:name="name">
<option value="0" v-on:click="$emit('clear')">None</option>
<option v-for="pokemon in pokemons" v-bind:value="pokemon.id" v-on:click="$emit('select')">{{pokemon.name}}</option>
</select>
</div>
</div>
`,
        created: function() {
          let self = this;
          $.ajax({
            url: 'http://localhost:8080/api/pokemons/',
            method: 'GET',
            success: function (data) {
              self.pokemons = data.rows;
            },
            error: function (error) {
              console.log(error);
            }
          });
        }
      });
Vue.component("typelist", {
  props: ['name'],
  data: function() {
    return { 
      types: null
    }
  },
  template: `
<div class="control">
<div class="select">
<select v-bind:name="name">
<option v-for="type in types" v-bind:value="type.id">{{type.name}}</option>
</select>
</div>
</div>
`,
  created: function() {
    let self = this;
    $.ajax({
      url: 'http://localhost:8080/api/types/',
      method: 'GET',
      success: function (data) {
        self.types = data;
      },
      error: function (error) {
        console.log(error);
      }
    });
  }
});

new Vue({
  el: '#example',
  methods: {
    setValues: function(object) {
      for(var prop in object) {
        if(object.hasOwnProperty(prop)) {
          $('[name='+prop+']').val(object[prop]);
        }
      }
    },
    clear: function() {
    
    },
    selectPokemon: function() {
      var id = Number($('[name="id"]').val());
      let self = this;
      $.ajax({
        url: 'http://localhost:8080/api/pokemons/' + id,
        method: 'GET',
        success: function (data) {
          self.setValues(data);
        },
        error: function (error) {
          console.log(error);
        }
      });
    },
    remove: function() {
      var id = Number($('[name="id"]').val());

      $.ajax({
        url: 'http://localhost:8080/api/pokemons/' + id,
        method: 'DELETE',
        success: function (data) {
        },
        error: function (error) {
        }
      });

    },
    add: function(data) {
      var id = Number($('[name="id"]').val());
      var method = 'POST';
      var url = 'http://localhost:8080/api/pokemons/';
      var object = {
        name: $('[name="name"]').val(),
        type: $('[name="type1"]').val(),
        type1: Number($('[name="type1"]').val()),
        type2: Number($('[name="type2"]').val()),
        level: Number($('[name="level"]').val()),
        gender: Number($('[name="gender"]').val()),
        previous_form_id: Number($('[name="previous_form_id"]').val()),
      };

      if(object.previous_form_id <= 0) {
        object.previous_form_id = null;
      }

      if(id > 0) {
        object.id = id;
        url = url + id;
        method = 'PUT';
      }

      $.ajax({
        url: url,
        method: method,
        data: JSON.stringify(object),
        contentType: 'application/json',
        success: function (data) {
          console.log(data);
        },
        error: function (error) {
          console.log(error);
        }
      });
    }
  }
});
    </script>


  </body>
</html>
